header{

    background-color: #3347B0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-left: 96px;
    padding-right: 96px;
}
.container-header{

  
    display: flex;
    align-items: center;
    
}
.vector{
    display: flex;

}
.logo-titulo{

    display: flex; 
    gap: 10px;
}
h1 {

    display: flex;
    align-items: center;
    width: 50%;


}
.sair {

    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    gap: 12px;
    text-decoration: none;

}
.text-sair{

    display: flex;
    align-items: center;
    
}