main {
    min-height: 87.5vh; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    background-color: #BCC2E5;
    height: 50px;
}
.cor{

    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

}
.azul{

    background-color: #3347B0;
}    
.amarelo{

    background-color: #E5B657;

}
.menu-status {
    padding-top: 17px;
    display: flex;
    align-self: flex-start;
}
.legenda li{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}
.status {
    color: #3347B0;
}
.legenda {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.menu-compacto{
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3347B0;
}
h2{
    display: flex;
    justify-content: center;
    color: #3347B0;
    font-size: 3rem;
    font-weight: 400;

}
.display {

}
